<div class="alert-container">
  <app-alert *ngIf="true" message="Producto agregado correctamente" type="success"></app-alert>

  <app-alert *ngIf="showErrorMessage" message="Error no se pudo agregar el producto" type="error"></app-alert>
</div>

<div class="header">
    <div class="title-container">
      <img src="assets/icons/icon-money.png" alt="Icono" class="icon">
      <div class="title">BANCO</div>
    </div>
  </div>
  
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="addContainer">
      <div class="header">Formulario de Registro</div>
  
      <div class="form-row">
        <div class="form-group">
          <label for="productId">ID</label>
          <input type="text" id="productId" formControlName="id" class="styled-input" [class.error]="isInvalid('id')" required>
          <div *ngIf="isInvalid('id')">ID no válido! Debe tener entre 3 y 10 caracteres.</div>
        </div>
  
        <div class="form-group">
          <label for="productName">Nombre</label>
          <input type="text" id="productName" formControlName="name" class="styled-input" [class.error]="isInvalid('name')">
          <div *ngIf="isInvalid('name')">Este campo es requerido! </div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group">
          <label for="productDescription">Descripción</label>
          <input type="text" id="productDescription" formControlName="description" class="styled-input" [class.error]="isInvalid('description')">
          <div *ngIf="isInvalid('description')">Este campo es requerido! </div>
        </div>
  
        <div class="form-group">
          <label for="productLogo">Logo</label>
          <input type="text" id="productLogo" formControlName="logo" class="styled-input" [class.error]="isInvalid('logo')">
          <div *ngIf="isInvalid('logo')">Este campo es requerido!</div>
        </div>
      </div>
  
      <div class="form-row">
        <div class="form-group">
          <label for="releaseDate">Fecha Liberación</label>
          <input type="date" id="releaseDate" formControlName="date_release" class="styled-input" [class.error]="isInvalid('date_release')" (ngModelChange)="subscribeToReleaseDateChanges($event)">
          <div *ngIf="isInvalid('date_release')">Este campo es requerido!</div>
        </div>
  
        <div class="form-group">
          <label for="date_revision">Fecha Revisión</label>
          <input type="date" id="date_revision" formControlName="date_revision" class="styled-input" [class.error]="isInvalid('date_revision')">
        </div>
      </div>
  
      <div class="modal-buttons">
        <button class="cancel-btn" (click)="restart()">Reiniciar</button>
        <button class="send-btn" type="submit" [ngClass]="{ 'button-disabled': productForm.invalid }" [disabled]="productForm.invalid">Enviar</button>
      </div>
    </form>
  